version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
  - package-ecosystem: "cargo"
    directory: "/" 
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
